name: "NeoFS Container"
supportedstandards: ["NEP-11", "NEP-22"]
safemethods: ["alias", "count", "containersOf", "get", "owner", "nodes", "replicasNumbers", "verifyPlacementSignatures",
              "eACL", "version", "getContainerData", "getEACLData", "getNodeReportSummary", "getReportByNode",
              "iterateReports", "iterateAllReportSummaries", "containerQuota", "userQuota", "getTakenSpaceByUser",
              "getBillingStatByNode", "iterateBillingStats", "getInfo",
              "symbol", "decimals", "totalSupply", "balanceOf", "tokensOf", "ownerOf"]
permissions:
  - methods: ["update", "addKey", "transferX", "register", "registerTLD", "addRecord", "deleteRecords",
              "unsubscribeFromNewEpoch", "onNEP11Payment"]
events:
  - name: PutSuccess
    parameters:
      - name: containerID
        type: Hash256
      - name: publicKey
        type: PublicKey
  - name: Created
    parameters:
      - name: containerID
        type: Hash256
      - name: owner
        type: ByteArray # 25 byte N3 address
  - name: DeleteSuccess
    parameters:
      - name: containerID
        type: ByteArray
  - name: Removed
    parameters:
      - name: containerID
        type: Hash256
      - name: owner
        type: ByteArray # 25 byte N3 address
  - name: SetEACLSuccess
    parameters:
      - name: containerID
        type: ByteArray
      - name: publicKey
        type: PublicKey
  - name: EACLChanged
    parameters:
      - name: containerID
        type: Hash256
  - name: NodesUpdate
    parameters:
      - name: ContainerID
        type: hash256
  - name: ObjectPut
    parameters:
      - name: ContainerID
        type: hash256
      - name: ObjectID
        type: hash256
      - name: Meta
        type: Map
  - name: ContainerQuotaSet
    parameters:
      - name: ContainerID
        type: Hash256
      - name: LimitValue
        type: Integer
      - name: Hard
        type: Boolean
  - name: UserQuotaSet
    parameters:
      - name: UserID
        type: ByteArray # 25 byte N3 address
      - name: LimitValue
        type: Integer
      - name: Hard
        type: Boolean
  - name: Transfer
    parameters:
      - name: from
        type: Hash160
      - name: to
        type: Hash160
      - name: amount
        type: Integer
      - name: tokenId
        type: ByteString
overloads:
  putMeta: put
  putNamedOverloaded: put
