Source: neofs-contract
Section: misc
Priority: optional
Maintainer: NeoSPCC <tech@nspcc.ru>
Build-Depends: debhelper-compat (= 13), git, devscripts, neo-go
Standards-Version: 4.5.1
Homepage: https://fs.neo.org/
Vcs-Git: https://github.com/nspcc-dev/neofs-contract.git
Vcs-Browser: https://github.com/nspcc-dev/neofs-contract

Package: neofs-contract
Architecture: all
Depends: ${misc:Depends}
Description: This package contains all NeoFS-related contracts.
 Contracts are written for neo-go compiler.
 The package contains contracts both from main and FS chains.
 .
 Main chain contracts:
 .
 - neofs
 - processing
 .
 FS chain contracts:
 .
 - alphabet
 - balance
 - container
 - netmap
 - nns
 - proxy
 - reputation
