#!/usr/bin/make -f

SERVICE = neofs-contract
export NEOGO ?= $(shell command -v neo-go)

%:
	dh $@

override_dh_auto_build:

		make all

override_dh_auto_install:
		install -D -m 0750 -d debian/$(SERVICE)/var/lib/neofs/contract
		find . -maxdepth 2 \( -name '*.nef' -o -name 'manifest.json' \) -exec cp --parents \{\} debian/$(SERVICE)/var/lib/neofs/contract \;

override_dh_installchangelogs:
		dh_installchangelogs -k CHANGELOG.md


