name: "NeoFS Netmap"
supportedstandards: ["NEP-22"]
safemethods: ["innerRingList", "epoch", "config", "listConfig", "version", "listNodes", "listCandidates", "cleanupThreshold", "unusedCandidate", "isStorageNode", "getEpochBlock", "getEpochTime", "lastEpochTime", "isStorageNodeStatus"]
permissions:
  - methods: ["update", "newEpoch"]
events:
  - name: AddNode
    parameters:
      - name: publicKey
        type: PublicKey
      - name: addresses
        type: Array
      - name: attributes
        type: Map
  - name: AddPeerSuccess
    parameters:
      - name: publicKey
        type: PublicKey
  - name: UpdateStateSuccess
    parameters:
      - name: publicKey
        type: PublicKey
      - name: state
        type: Integer
  - name: NewEpoch
    parameters:
      - name: epoch
        type: Integer
  - name: NewEpochSubscription
    parameters:
      - name: contract
        type: Hash160
  - name: NewEpochUnsubscription
    parameters:
    - name: contract
      type: Hash160
overloads:
  listNodesEpoch: listNodes
  isStorageNodeInEpoch: isStorageNode
