name: "NeoFS Balance"
supportedstandards: ["NEP-17", "NEP-22"]
safemethods: ["balanceOf", "decimals", "symbol", "totalSupply", "version"]
permissions:
  - methods: ["update", "subscribeForNewEpoch"]
events:
  - name: Lock
    parameters:
      - name: txID
        type: ByteArray
      - name: from
        type: Hash160
      - name: to
        type: Hash160
      - name: amount
        type: Integer
      - name: until
        type: Integer
  - name: Transfer
    parameters:
      - name: from
        type: Hash160
      - name: to
        type: Hash160
      - name: amount
        type: Integer
  - name: TransferX
    parameters:
      - name: from
        type: Hash160
      - name: to
        type: Hash160
      - name: amount
        type: Integer
      - name: details
        type: ByteArray
  - name: Payment
    parameters:
      - name: UserID
        type: Hash160
      - name: ContainerID
        type: Hash256
      - name: Epoch
        type: Integer
      - name: Amount
        type: Integer
  - name: ChangePaymentStatus
    parameters:
      - name: ContainerID
        type: Hash256
      - name: Epoch
        type: Integer
      - name: Unpaid
        type: Boolean
